
.options {
  display: inline;
}

tr.draggable div.form-item {
  display: inline;
}

#option_key td:first-child {
  width: 26%;
}

.combinations td:first-child, .combinations td:first-child + td {
  width: 12%;
}
